name: 'ci'

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  merge_group:

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

env:
  DOCKER_REGISTRY: 'us-central1-docker.pkg.dev'
  DOCKER_REPO: 'us-central1-docker.pkg.dev/github-action-runner-i-02/ci-images'
  IMAGE_NAME: 'github-action-runner'
  IMAGE_TAG: 'ci-${{ github.run_id }}-${{ github.run_number }}'

  DISPATCHER_DOCKER_REPO: 'us-docker.pkg.dev/abcxyz-artifacts/docker-images'
  DISPATCHER_IMAGE_NAME: 'github-action-dispatcher'
  DISPATCHER_VERSION: 'v0.0.0'

  INTEGRATION_RUNNER_LABEL: 'github-action-runner-integration'
  INTEGRATION_RUNNER_LOCATION: 'us-central1'
  INTEGRATION_RUNNER_PROJECT_ID: 'abcxyz-gar-runner-i-4f'
  INTEGRATION_RUNNER_SERVICE_ACCOUNT: 'projects/abcxyz-gar-runner-i-4f/serviceAccounts/abcxyz-gar-runner-sa@abcxyz-gar-runner-i-4f.iam.gserviceaccount.com'

  INTEGRATION_PROJECT_ID: 'github-action-runner-i-02'
  INTEGRATION_REGION: 'us-central1'
  INTEGRATION_SERVICE_ACCOUNT: 'gad-webhook-sa@github-action-runner-i-02.iam.gserviceaccount.com'
  INTEGRATION_SERVICE_NAME: 'github-action-dispatcher-23db'
  INTEGRATION_WIF_PROVIDER: 'projects/712187603283/locations/global/workloadIdentityPools/github-automation/providers/gar-ci-i'
  INTEGRATION_WIF_SERVICE_ACCOUNT: 'github-automation-bot@gha-gar-ci-i-be70aa.iam.gserviceaccount.com'

  AUTOPUSH_WIF_PROVIDER: 'projects/612015178317/locations/global/workloadIdentityPools/github-automation/providers/gar-ci-a'
  AUTOPUSH_WIF_SERVICE_ACCOUNT: 'github-automation-bot@gha-gar-ci-a-be70aa.iam.gserviceaccount.com'

jobs:
  set-matrix:
    runs-on: 'ubuntu-latest'
    outputs:
      runner_contexts: '${{ steps.get-contexts.outputs.contexts }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # ratchet:actions/checkout@v4

      - name: 'Get Docker Build Contexts'
        id: 'get-contexts'
        run: |
          # Find all subdirectories in ./runner, format as JSON array
          CONTEXTS=$(find runner -mindepth 1 -maxdepth 1 -type d | sed 's|^runner/||' | jq -R . | jq -s -c .)
          echo "Discovered contexts: $CONTEXTS"
          echo "contexts=$CONTEXTS" >> "$GITHUB_OUTPUT"

  build:
    needs: ['set-matrix']
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    strategy:
      fail-fast: false
      matrix:
        context: '${{ fromJson(needs.set-matrix.outputs.runner_contexts) }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # ratchet:actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@a6e2e39c0a0331da29f7fd2c2a20a427e8d3ad1f' # ratchet:google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ env.INTEGRATION_WIF_PROVIDER }}'
          service_account: '${{ env.INTEGRATION_WIF_SERVICE_ACCOUNT }}'
          token_format: 'access_token'

      - uses: 'docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772' # ratchet:docker/login-action@v3
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.DOCKER_REGISTRY }}'

      - name: 'Build and push runner image'
        uses: 'docker/build-push-action@5176d81f87c23d6fc96624dfdbcd9f3830bbe445' # ratchet:docker/build-push-action@v6.5.0
        with:
          context: './runner/${{ matrix.context }}'
          push: true
          tags: '${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}-${{ matrix.context }},${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ github.sha }}-${{ matrix.context }},${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:integration-${{ matrix.context }}'

  deploy-dispatcher:
    needs: ['build']
    if: |-
      ${{ github.event_name == 'merge_group' }}
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    env:
      GITHUB_APP_ID: '2274453'
      KMS_APP_PRIVATE_KEY_ID: 'projects/github-action-runner-i-02/locations/us-central1/keyRings/gad-ea-key-ring/cryptoKeys/gad-ea-pk/cryptoKeyVersions/1'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # ratchet:actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@a6e2e39c0a0331da29f7fd2c2a20a427e8d3ad1f' # ratchet:google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ env.INTEGRATION_WIF_PROVIDER }}'
          service_account: '${{ env.INTEGRATION_WIF_SERVICE_ACCOUNT }}'
          token_format: 'access_token'

      - name: 'Setup gcloud'
        uses: 'google-github-actions/setup-gcloud@6189d56e4096ee891640bb02ac264be376592d6a' # ratchet:google-github-actions/setup-gcloud@v2
        with:
          version: '529.0.0'

      - name: 'Deploy to Cloud Run'
        id: 'deploy'
        run: |-
          WEBHOOK_SECRET_MOUNT_PATH="/etc/secrets/webhook/key"
          WEBHOOK_SECRET_NAME="webhook-key"
          WEBHOOK_SECRET_VERSION="latest"

          cat > /tmp/env_vars <<EOF
          GITHUB_APP_ID: '${{ env.GITHUB_APP_ID }}'
          KMS_APP_PRIVATE_KEY_ID: '${{ env.KMS_APP_PRIVATE_KEY_ID }}'
          RUNNER_IMAGE_NAME: '${{ env.IMAGE_NAME }}'
          RUNNER_IMAGE_TAG: '${{ env.IMAGE_TAG }}-ubuntu-24-04'
          RUNNER_LABEL: '${{ env.INTEGRATION_RUNNER_LABEL }}'
          RUNNER_LOCATION: '${{ env.INTEGRATION_RUNNER_LOCATION }}'
          RUNNER_PROJECT_ID: '${{ env.INTEGRATION_RUNNER_PROJECT_ID }}'
          RUNNER_REPOSITORY_ID: '${{ env.DOCKER_REPO }}'
          RUNNER_SERVICE_ACCOUNT: '${{ env.INTEGRATION_RUNNER_SERVICE_ACCOUNT }}'
          WEBHOOK_KEY_MOUNT_PATH: '${WEBHOOK_SECRET_MOUNT_PATH}'
          WEBHOOK_KEY_NAME: '${WEBHOOK_SECRET_NAME}'
          EOF

          gcloud run deploy "${{ env.INTEGRATION_SERVICE_NAME }}" \
            --project="${{ env.INTEGRATION_PROJECT_ID }}" \
            --region="${{ env.INTEGRATION_REGION }}" \
            --service-account="${{ env.INTEGRATION_SERVICE_ACCOUNT }}" \
            --image="${{ env.DISPATCHER_DOCKER_REPO }}/${{ env.DISPATCHER_IMAGE_NAME }}:${{ env.DISPATCHER_VERSION }}-amd64" \
            --ingress=internal-and-cloud-load-balancing \
            --no-allow-unauthenticated \
            --set-secrets="${WEBHOOK_SECRET_MOUNT_PATH}/${WEBHOOK_SECRET_NAME}=${WEBHOOK_SECRET_NAME}:${WEBHOOK_SECRET_VERSION}" \
            --env-vars-file=/tmp/env_vars

  smoke-tests:
    needs: ['deploy-dispatcher']
    if: |-
      ${{ github.event_name == 'merge_group' }}
    uses: './.github/workflows/smoke-tests.yml'
    permissions:
      contents: 'read'
      id-token: 'write'
    with:
      runs-on: 'github-action-runner-integration'

  smoke-tests-passed:
    needs: ['deploy-dispatcher', 'smoke-tests']
    if: |-
      ${{ always() && github.event_name == 'merge_group' }}
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Check Deployment and Tests Status'
        if: |-
          ${{ needs.deploy-dispatcher.result != 'success' || needs.smoke-tests.result != 'success' }}
        run: |
          echo "::error::Dispatcher Deployment failed or was skipped. Failing status check to block merge."
          exit 1

      - name: 'Confirm smoke tests passed'
        run: 'echo \"All dispatcher tests passed in integration\"'

  tag-autopush:
    needs: ['set-matrix', 'build']
    if: |-
      ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    strategy:
      fail-fast: false
      matrix:
        context: '${{ fromJson(needs.set-matrix.outputs.runner_contexts) }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # ratchet:actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@a6e2e39c0a0331da29f7fd2c2a20a427e8d3ad1f' # ratchet:google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ env.AUTOPUSH_WIF_PROVIDER }}'
          service_account: '${{ env.AUTOPUSH_WIF_SERVICE_ACCOUNT }}'
          token_format: 'access_token'

      - uses: 'docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772' # ratchet:docker/login-action@v3
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.DOCKER_REGISTRY }}'

      - name: 'Retag runner image (${{ matrix.context }})'
        env:
          SOURCE_IMAGE: '${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}-${{ matrix.context }}'
          DEST_IMAGE: '${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:autopush-${{ matrix.context }}'
        run: |
          echo "Tagging ${{ env.SOURCE_IMAGE }} as ${{ env.DEST_IMAGE }}..."
          gcloud container images add-tag "${{ env.SOURCE_IMAGE }}" "${{ env.DEST_IMAGE }}" --quiet
