name: 'ci'

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
  merge_group:

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

env:
  DOCKER_REGISTRY: 'us-central1-docker.pkg.dev'
  DOCKER_REPO: 'us-central1-docker.pkg.dev/github-action-runner-i-02/ci-images'
  IMAGE_NAME: 'github-action-runner'
  IMAGE_TAG: 'ci-${{ github.run_id }}-${{ github.run_number }}'

  INTEGRATION_WIF_PROVIDER: 'projects/712187603283/locations/global/workloadIdentityPools/github-automation/providers/gar-ci-i'
  INTEGRATION_WIF_SERVICE_ACCOUNT: 'github-automation-bot@gha-gar-ci-i-be70aa.iam.gserviceaccount.com'

  AUTOPUSH_WIF_PROVIDER: 'projects/612015178317/locations/global/workloadIdentityPools/github-automation/providers/gar-ci-a'
  AUTOPUSH_WIF_SERVICE_ACCOUNT: 'github-automation-bot@gha-gar-ci-a-be70aa.iam.gserviceaccount.com'

jobs:
  set-matrix:
    runs-on: 'ubuntu-latest'
    outputs:
      runner_contexts: '${{ steps.get-contexts.outputs.contexts }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # ratchet:actions/checkout@v4

      - name: 'Get Docker Build Contexts'
        id: 'get-contexts'
        run: |
          # Find all subdirectories in ./runner, create a matrix of context and arch
          MATRIX="[]"
          for dir in runner/*/; do
            if [ -f "${dir}config.json" ]; then
              context_name=$(basename "$dir")
              # Read architectures into a bash array
              mapfile -t arches < <(jq -r '.architectures[]' "${dir}config.json")
              for arch in "${arches[@]}"; do
                entry=$(jq -n --arg context "$context_name" --arg arch "$arch" '{context: $context, arch: $arch}')
                MATRIX=$(echo "$MATRIX" | jq --argjson entry "$entry" '. + [$entry]')
              done
            fi
          done
          echo "Discovered contexts: $MATRIX"
          {
            echo "contexts<<EOF"
            echo "${MATRIX}"
            echo "EOF"
          } >> "${GITHUB_OUTPUT}"

  build:
    needs: ['set-matrix']
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    strategy:
      fail-fast: false
      matrix:
        include: '${{ fromJson(needs.set-matrix.outputs.runner_contexts) }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # ratchet:actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@a6e2e39c0a0331da29f7fd2c2a20a427e8d3ad1f' # ratchet:google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ env.INTEGRATION_WIF_PROVIDER }}'
          service_account: '${{ env.INTEGRATION_WIF_SERVICE_ACCOUNT }}'
          token_format: 'access_token'

      - name: 'Set up QEMU'
        uses: 'docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130' # ratchet:docker/setup-qemu-action@v3

      - name: 'Set up Docker Buildx'
        uses: 'docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435' # ratchet:docker/setup-buildx-action@v3

      - uses: 'docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef' # ratchet:docker/login-action@v3
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.DOCKER_REGISTRY }}'

      - name: 'Build and push runner image'
        uses: 'docker/build-push-action@5176d81f87c23d6fc96624dfdbcd9f3830bbe445' # ratchet:docker/build-push-action@v6.5.0
        with:
          context: './runner/${{ matrix.context }}'
          platforms: 'linux/${{ matrix.arch }}'
          push: true
          tags: |
            ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}-${{ matrix.context }}-${{ matrix.arch }}
            ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ github.sha }}-${{ matrix.context }}-${{ matrix.arch }}
            ${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:integration-${{ matrix.context }}-${{ matrix.arch }}

  smoke-tests:
    needs: ['build', 'set-matrix']
    if: |-
      ${{ github.event_name == 'merge_group' }}
    uses: './.github/workflows/smoke-tests.yml'
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'write'
    with:
      runs-on: 'github-action-runner-integration'
      runner_contexts: '${{ needs.set-matrix.outputs.runner_contexts }}'

  smoke-tests-passed:
    needs: ['smoke-tests']
    if: |-
      ${{ always() && github.event_name == 'merge_group' }}
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Check Deployment and Tests Status'
        if: |-
          ${{ needs.smoke-tests.result != 'success' }}
        run: |
          echo "::error::Dispatcher Deployment failed or was skipped. Failing status check to block merge."
          exit 1

      - name: 'Confirm smoke tests passed'
        run: 'echo \"All dispatcher tests passed in integration\"'

  tag-autopush:
    needs: ['set-matrix', 'build']
    if: |-
      ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    strategy:
      fail-fast: false
      matrix:
        include: '${{ fromJson(needs.set-matrix.outputs.runner_contexts) }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # ratchet:actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@a6e2e39c0a0331da29f7fd2c2a20a427e8d3ad1f' # ratchet:google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ env.AUTOPUSH_WIF_PROVIDER }}'
          service_account: '${{ env.AUTOPUSH_WIF_SERVICE_ACCOUNT }}'
          token_format: 'access_token'

      - uses: 'docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772' # ratchet:docker/login-action@v3
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.DOCKER_REGISTRY }}'

      - name: 'Retag runner image (${{ matrix.context }})'
        env:
          SOURCE_IMAGE: '${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}-${{ matrix.context }}-${{ matrix.arch }}'
          DEST_IMAGE: '${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:autopush-${{ matrix.context }}-${{ matrix.arch }}'
        run: |
          echo "Tagging ${{ env.SOURCE_IMAGE }} as ${{ env.DEST_IMAGE }}..."
          gcloud container images add-tag "${{ env.SOURCE_IMAGE }}" "${{ env.DEST_IMAGE }}" --quiet
