# Copyright 2025 The Authors (see AUTHORS file)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: 'release'

on:
  push:
    tags:
      - 'v*'

# Don't cancel in progress since we don't want to have half-baked releases.
concurrency: '${{ github.workflow }}-${{ github.head_ref || github.ref }}-release'

jobs:
  set-matrix:
    runs-on: 'ubuntu-latest'
    outputs:
      runner_contexts: '${{ steps.get-contexts.outputs.contexts }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5' # ratchet:actions/checkout@v4

      - name: 'Get Docker Build Contexts'
        id: 'get-contexts'
        run: |
          # Find all subdirectories in ./runner, create a matrix of context and arch
          MATRIX="[]"
          for dir in runner/*/; do
            if [ -f "${dir}config.json" ]; then
              context_name=$(basename "$dir")
              # Read architectures into a bash array
              mapfile -t arches < <(jq -r '.architectures[]' "${dir}config.json")
              for arch in "${arches[@]}"; do
                entry=$(jq -n --arg context "$context_name" --arg arch "$arch" '{context: $context, arch: $arch}')
                MATRIX=$(echo "$MATRIX" | jq --argjson entry "$entry" '. + [$entry]')
            done
          fi
          done
          echo "Discovered contexts: $MATRIX"
          {
            echo "contexts<<EOF"
            echo "${MATRIX}"
            echo "EOF"
          } >> "${GITHUB_OUTPUT}"

  image-release:
    needs: ['set-matrix']
    environment: 'production'
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    strategy:
      fail-fast: false
      matrix:
        include: '${{ fromJson(needs.set-matrix.outputs.runner_contexts) }}'
    steps:
      - name: 'Setup QEMU'
        uses: 'docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130' # ratchet:docker/setup-qemu-action@v3

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@c200f3691d83b41bf9bbd8638997a462592937ed' # ratchet:google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ vars.WIF_PROVIDER }}'
          service_account: '${{ vars.WIF_SERVICE_ACCOUNT }}'
          token_format: 'access_token'

      - name: 'Authenticate to Artifact Registry (Source)'
        uses: 'docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef' # ratchet:docker/login-action@v3
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: 'us-central1-docker.pkg.dev'

      - name: 'Authenticate to Artifact Registry (Destination)'
        uses: 'docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef' # ratchet:docker/login-action@v3
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: 'us-docker.pkg.dev'

      - name: 'Copy images to Release registry (${{ matrix.context }}-${{ matrix.arch }})'
        env:
          SOURCE_DOCKER_IMAGE: 'us-central1-docker.pkg.dev/github-action-runner-i-02/ci-images/github-action-runner:${{ github.sha }}-${{ matrix.context }}-${{ matrix.arch }}'
          TARGET_DOCKER_IMAGE: 'us-docker.pkg.dev/abcxyz-artifacts/docker-images/github-action-runner:${{ github.ref_name }}-${{ matrix.context }}-${{ matrix.arch }}'
        run: |
          docker pull "${{ env.SOURCE_DOCKER_IMAGE }}"
          docker tag "${{ env.SOURCE_DOCKER_IMAGE }}" "${{ env.TARGET_DOCKER_IMAGE }}"
          docker push "${{ env.TARGET_DOCKER_IMAGE }}"
